<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Create New Hero</title>

</head>
<body>
<div class="container"> 
    <h1>Create New Entry</h1>

    <form action="{% url 'superheros:create' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            Name: <input type="text" class="form-control" name="name" id="name"><br />
        </div>

        <div class="form-group">
            Alter Ego: <input type="text" class="form-control" name="alter_ego" id="alter_ego"><br />
        </div>

        <div class="form-group">
            Primary Ability: <input type="text" class="form-control" name="primary" id="primary"><br />
        </div>

        <div class="form-group">
            Secondary Ability: <input type="text" class="form-control" name="secondary" id="secondary"><br />
        </div>

        <div class="form-group">
            Catchphrase: <input type="text" class="form-control" name="catchphrase" id="catchphrase"><br />
        </div>

        <button type="submit" class="btn btn-primary btn-sm active">Add</button>
        <a href="{% url 'superheros:index' %}" class="btn btn-primary btn-sm active">Home</a>
    </form>
</div>

</body>
</html>
