<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Details</title>

</head>
<body>
    <div class='bg-img'>
        <img src="{% static 'images/thor.jpg' %}" alt="Thor" width="100%" height="auto">
    </div>
<div class="container">
    <form action="">
    <h1>Detail Page</h1>
    <ul>
        <h2>Name: {{single_hero.name}}</h2>
        <h2>Alter Ego: {{single_hero.alter_ego}}</h2>
        <h2>Primary Ability: {{single_hero.primary_ability}}</h2>
        <h2>Secondary Ability: {{single_hero.secondary_ability}}</h2>
        <h2>Catch Phrase: {{single_hero.catch_phrase}}</h2>
    </ul>

        <a href="{% url 'superheros:index' %}" class="btn btn-primary btn-sm active">Home</a>
    </form>
</div>
</body>
</html>